.Header {
  background-color: #17313E;
  display: flex;
  justify-content: space-around ;
  align-items: center;
  font-size: large;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;         
  z-index: 1000;       
}

#logo {
  font-family: 'Noto Sans';
}

input {
  background-color: #ededeb;
  outline: 0;
}


.searchIcon {
  color: #17313E;
}

.hamburger {
  display: none;
}

/* For tablet */
@media (max-width: 950px) {
  .categories,
  .LoginSection {
    display: none; /* hide on tablet & mobile */
  }

  .hamburger {
    display: inline-block; /* show hamburger */
  }
}

/*For Mobils*/
@media (max-width: 500px) {
    header{
        justify-content:space-evenly;
        align-items: end;
    }
}
