@import "tailwindcss";

.styledFont{
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
    text-transform: uppercase;
}
*{
    font-family: "Montserrat";
}

