@import "tailwindcss";

.styledFont{
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
}

body{
    background: #F0ECE1;
}
